footer {
  .ctacontainer {
    padding-top: 150px;
    z-index: 1000;
    display: block;
    position: relative;

    .cta {
      margin-bottom: -150px;
      box-shadow: 0 0 14px rgba(0, 0, 0, 0.55);
      padding: 30px 40px;
      border-radius: 10px;
      overflow: hidden;

      .uk-grid-small {
        #footercta-right {
          div.wpcf7 {
            form {
              p {
                span {
                  input {
                    font-size: 20px;
                    color: black;
                    background: none;
                    border: 1px solid #ccc;
                    width: 90%;
                    padding: 10px 20px;
                    margin-bottom: 15px;
                    border-radius: 3px;
                  }
                }

                input {
                  color: white;
                  background: $brand-green;
                  font-weight: bold;
                  font-size: 18px;
                  padding: 15px 20px;
                  border-radius: 5px;
                  letter-spacing: 0.75px;
                  border: none;
                  float: left;
                  transition: 0.25s all ease-in-out;
                }
              }
            }
          }
        }

        #footercta-left {
          padding-right: 15px;
        }
      }
    }
  }

  .regfooter {
    z-index: 100;

    .gridl {
      .uk-block-xlarge {
        a {
          img {
            max-width: 250px;
          }
        }

        .uk-block-small {
          .uk-grid-small {
            .uk-width-1-1 {
              > p {
                margin-top: 2px;
                margin-bottom: 2px;
              }

              .footer-nav-grid {
                div {
                  a {
                    display: block;
                    color: white;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
