header.banner {
  .container {
    .uk-grid-collapse {
      div.uk-width-1-1 {
        a.brand {
          display: block;
          padding: 20px;
          padding-left: 0 !important;

          img {
            max-width: 300px;
          }
        }

        nav {
          text-align: right;

          ul {
            list-style-type: none;
            padding-top: 30px;

            li {
              display: inline-block;
              padding: 40px 30px;
              transition: 0.25s all ease-in-out;

              a {
                font-size: 20px;
                color: black;
                font-weight: 500;

                &:hover {
                  text-decoration: none;
                }
              }

              &:last-of-type {
                a {
                  margin-left: 25px;
                  font-weight: 700;
                }

                &::before {
                  content: "";
                  border-left: 1px solid #ccc;
                  padding: 2px 15px;
                }
              }
            }
          }
        }
      }
    }
  }

  #offcanv-toggle {
    position: absolute;
    right: 40px;
    top: 105px;
    display: none;

    span {
      font-weight: bold;

      svg {
        width: 30px;
        height: 30px;
        color: $brand-blue;
      }
    }
  }
}

#offcanv {
  > div {
    text-align: center;

    #offcanv-nav {
      ul.nav {
        list-style-type: none;
        padding-left: 0 !important;

        li {
          padding: 20px 0;

          a {
            font-weight: bold;
            font-size: 24px;
            text-decoration: none;
          }

          &:hover {
            a {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
