/* Home Page */

#homefold {
  .gridl {
    .uk-grid-collapse {
      #left-block {
        padding-top: 75px;

        p {
          padding-right: 120px;
          padding-bottom: 20px;
        }
      }

      #right-block {
        text-align: center;
      }
    }
  }
}

#underhomefold {
  z-index: 10;

  .grids {
    .header-text {
      p {
        max-width: 600px;
        margin: 10px auto;
      }

      span {
        display: block;
        position: relative;
        margin-top: 30px;
        font-size: 24px;
        color: black;
      }
    }

    .description-grid {
      .uk-grid-small {
        .uk-width-1-1 {
          .single-block {
            max-width: 85%;
            margin: 5px auto;
            text-align: center;
            padding: 40px 60px;

            svg {
              max-width: 40px;
              max-height: 100px;
              margin-top: 10px;
            }

            h3 {
              margin-bottom: 5px;
              margin-top: 10px;
            }

            p {
              margin-top: 5px;
            }
          }
        }
      }
    }
  }
}

#aboutfacility {
  position: relative;
  display: block;
  overflow: hidden;
  padding-bottom: 200px;
  z-index: 1000;

  .gridl {
    .uk-grid-small {
      #about-left {
        margin-top: 125px;

        p {
          max-width: 80%;
        }

        a {
          font-size: 20px;
          padding-bottom: 20px;
        }

        .review {
          .uk-grid-small {
            div.uk-text-center {
              .avatar {
                max-width: 80px;
                max-height: 80px;
                margin: 0 auto;
                display: block;
              }

              span {
                display: block;
              }
            }

            div.uk-text-left {
              .stars {
                max-width: 100px;
              }

              p {
                margin-top: 0;
              }
            }
          }
        }
      }
    }
  }

  #about-right {
    margin-top: 50px;
  }

  svg#greensquiggle {
    transform: rotate(200deg);
    max-width: 1000px;
    position: absolute;
    top: -80%;
    left: -15%;
    color: rgba(0, 149, 59, 0.9) !important;
  }

  svg#bluesquiggle {
    transform: rotate(160deg);
    max-width: 1000px;
    position: absolute;
    bottom: -50%;
    right: 10%;
  }
}

#treatmentdescription {
  padding-bottom: 250px;
  z-index: 1000;

  .gridl {
    .uk-grid-small {
      #treatment-left {
        padding-top: 60px;

        p {
          max-width: 90%;
        }
      }
    }
  }
}

#descriptionblurbs {
  z-index: 100;
  display: block;
  position: relative;
  overflow: hidden;
  margin-top: -300px;

  .gridl {
    .uk-grid-medium {
      .uk-width-1-1 {
        .single {
          z-index: 110;
          max-width: 95%;
          margin: 0 auto;
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.55);
          border-radius: 10px;
          overflow: hidden;

          .header {
            padding: 20px 30px;
            min-height: 100px;

            h3 {
              padding-top: 15px;
              margin-bottom: 0;
            }
          }

          .body {
            padding: 20px 30px;

            a {
              font-size: 20px;
            }
          }
        }
      }
    }
  }

  svg#blurb-bluesquiggle {
    max-width: 350px;
    z-index: -1;
    position: absolute;
    transform: rotate(350deg);
    left: 15%;
    top: 20%;
  }
}

#providing {
  position: relative;
  overflow: hidden;

  #providingsquiggle {
    max-width: 900px;
    position: absolute;
    right: -30%;
    top: 5%;
    transform: rotate(140deg);
  }

  #providing-left {
    margin-top: 75px;
  }

  .blurbs {
    .uk-grid-medium {
      .uk-width-1-1 {
        .single {
          max-width: 90%;
          margin: 0 auto;

          svg {
            max-width: 60px;
          }

          h3 {
            margin-top: 15px;
            margin-bottom: 5px;
          }

          p {
            margin-top: 5px;
            margin-bottom: 0;
          }

          a {
            margin-top: 5px;
          }
        }
      }
    }
  }
}

/* For You Page */

#foryoufold {
  .gridl {
    .uk-grid-small {
      #foryoufold-left {
        p {
          padding-bottom: 20px;
        }
      }
    }
  }
}

#foryou-description {
  padding-bottom: 20px;
  display: block;
  position: relative;

  .gridl {
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.55);
    z-index: 100;
    display: block;
    position: relative;

    .grids {
      padding: 100px 40px;

      .uk-grid-small {
        div {
          margin: 100px auto;
        }

        div.text {
          svg {
            max-width: 40px;
            max-height: 100px;
          }

          h2 {
            margin-top: 2px;
            margin-bottom: 5px;
          }

          p {
            margin-top: 5px;
          }
        }

        div.image {
          img {
            max-width: 70%;
            margin: 0 auto;
          }
        }
      }
    }
  }

  svg#foryoutopsquiggle {
    max-width: 650px;
    position: absolute;
    top: -150px;
    left: 375px;
  }

  svg#foryoumidsquiggle {
    max-width: 450px;
    position: absolute;
    top: 850px;
    left: 80px;
  }

  svg#foryoubotsquiggle {
    max-width: 340px;
    position: absolute;
    bottom: 450px;
    right: 10px;
  }
}

/* Location Page */

#locationfold {
  .gridl {
    .uk-grid-small {
      #locationfold-left {
        margin-top: 70px;

        p {
          padding-bottom: 20px;
          max-width: 80%;
        }
      }
    }
  }
}

#locationbelowfold {
  position: relative;
  overflow: hidden;

  .gridl {
    .uk-block-small {
      .uk-grid-small {
        .single-feature {
          .single {
            max-width: 85%;
            margin: 10px auto;

            svg {
              max-width: 60px;
            }

            h3 {
              margin-top: 2px;
              margin-bottom: 5px;
            }

            p {
              margin-top: 5px;
              margin-bottom: 5px;
            }

            a {
              margin-top: 5px;
            }
          }
        }
      }
    }
  }

  svg#facilitysquiggle {
    max-width: 900px;
    position: absolute;
    left: 100px;
    bottom: -300px;
  }
}

#locationgrid {
  padding-bottom: 0;

  .gridl {
    .uk-grid-medium {
      div {
        div.single-image {
          text-align: center;
        }
      }
    }
  }
}

/* Services Page */

#services {
  .gridl {
    .uk-block {
      padding-bottom: 100px;

      div {
        .uk-slider-container {
          ul.uk-slider-items {
            padding-bottom: 20px;
            padding-top: 20px;

            li {
              div.single {
                max-width: 90%;
                margin: 0 auto;
                box-shadow: 0 0 14px rgba(0, 0, 0, 0.55);
                border-radius: 10px;
                overflow: hidden;

                .text {
                  background: white;
                  padding: 10px 20px;

                  h3 {
                    margin-top: 20px;
                    margin-bottom: 5px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

#committed-right {
  div.uk-grid-small {
    .uk-width-1-1 {
      .single {
        max-width: 90%;
        margin: 10px auto;

        svg {
          max-width: 60px;
        }

        h3 {
          margin-top: 2px;
          margin-bottom: 5px;
        }

        p {
          margin-top: 5px;
          margin-bottom: 5px;
        }
      }
    }
  }
}

/* Staff Page */

#stafffold {
  .gridl {
    .uk-grid-small {
      #stafffold-left {
        padding-top: 100px;

        p {
          margin-bottom: 40px;
        }
      }
    }
  }
}

#belowfold {
  position: relative;
  z-index: 10;

  #stafftopsquiggle {
    max-width: 400px;
    position: absolute;
    top: 0;
    right: 10px;
    z-index: -1;
  }

  #teamblock {
    .uk-block {
      .body {
        padding: 10px 30px;

        .staffgrid {
          .uk-width-1-1 {
            .single {
              max-width: 80%;
              margin: 10px auto;
              margin-top: 50px;
              display: block;
              position: relative;

              img {
                max-width: 300px;
                margin: 0 auto;
              }

              h3 {
                margin-bottom: 2px;
              }

              p {
                margin-top: 2px;
                margin-bottom: 5px;
              }
            }
          }
        }
      }
    }
  }
}

#staff-committed {
  .gridl {
    .uk-grid-collapse {
      #staff-committed-right {
        padding-top: 100px;
      }
    }

    .uk-grid-small {
      .uk-width-1-1 {
        .single {
          max-width: 90%;
          margin: 0 auto;

          svg {
            max-width: 60px;
          }

          h3 {
            margin-top: 2px;
            margin-bottom: 2px;
          }

          p {
            margin-top: 5px;
            margin-bottom: 2px;
          }
        }
      }
    }
  }
}

/* Contact Page */

#contactfold {
  .gridl {
    .uk-grid-small {
      #contactfold-left {
        padding-left: 50px;

        p,
        a {
          margin-top: 10px;
          margin-bottom: 10px;
        }
      }

      #contactfold-right {
        position: relative;
        display: block;
      }
    }
  }
}
