/* Index Page */

#index-header {
  position: relative;
  z-index: 10;

  #indexsquiggle {
    z-index: -1;
    position: absolute;
    max-width: 40%;
    top: 120px;
    left: 50%;
    margin-left: -20%;
  }
}

#blogroll {
  .gridl {
    .uk-grid-collapse {
      .uk-width-1-1 {
        .single {
          overflow: hidden;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
          border-radius: 10px;
          max-width: 85%;
          margin: 0 auto;

          .image {
            display: block;
          }

          .text {
            background: white;
            padding: 20px 30px;

            a {
              text-decoration: none;

              &:hover {
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}

/* Single Post */

#postheader {
  border-top-left-radius: 10px 10px;
  border-top-right-radius: 10px 10px;
}

#thecontent {
  padding-bottom: 0;
}
