/* Display */

.gridl {
  max-width: 1468px;
  margin: 0 auto;
}

.gridm {
  max-width: 1100px;
  margin: 0 auto;
}

.grids {
  max-width: 768px;
  margin: 0 auto;
}

.gridxs {
  max-width: 568px;
  margin: 0 auto;
}

.uk-block {
  padding-top: 50px;
  padding-bottom: 50px;
  display: block;
}

.uk-block-large {
  padding-top: 100px;
  padding-bottom: 100px;
  display: block;
}

.uk-block-xlarge {
  padding-top: 150px;
  padding-bottom: 150px;
  display: block;
}

.uk-block-small {
  padding-top: 25px;
  padding-bottom: 25px;
  display: block;
}

.bg-gray {
  background-color: $background-gray;
}

.bg-white {
  background-color: white;
}

.bg-blue {
  background-color: $brand-blue;
}

.bg-dark {
  background-color: $brand-dark;
}

/* Typography */

* {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 55px;
  line-height: 60px;
  letter-spacing: 0.25px;
}

h2 {
  font-size: 50px;
  line-height: 60px;
  letter-spacing: 0.25px;
}

h3 {
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0.5px;
}

p {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}

a.green {
  font-size: 22px;
  line-height: 30px;
  font-weight: bold;
  color: $brand-green;
}

p.small {
  font-size: 16px;
  font-weight: normal;
  line-height: 25px;
}

.bold {
  font-weight: 700;
}

.black {
  color: black;
}

.white {
  color: white;
}

/* Buttons */

.button {
  margin-top: 20px;
  padding: 20px 40px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.25px;
}

.button-green {
  background-color: $brand-green;
  color: white;
}

/* Random */

.blackline {
  max-width: 90%;
  margin: 20px 0;
  height: 3px;
  background-color: black;
}

.blackline-center {
  max-width: 75%;
  margin: 40px auto;
  height: 3px;
  background-color: black;
}

.blackline-center-100 {
  max-width: 100%;
  margin: 40px auto;
  height: 3px;
  background-color: black;
}

.shadow {
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.45);
}
