@media (max-width: 1500px) {
  .gridl,
  .gridm,
  .grids,
  .gridxs {
    padding-left: 20px;
    padding-right: 20px;
  }

  header.banner {
    .container {
      .uk-grid {
        #nav-block {
          nav {
            ul {
              padding-left: 0;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1474px) {
  header.banner {
    .container {
      .uk-grid {
        #nav-block {
          nav {
            ul {
              li {
                padding: 40px 20px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1341px) {
  header.banner {
    .container {
      .uk-grid {
        #nav-block {
          nav {
            ul {
              li {
                padding: 40px 10px;

                &:last-of-type {
                  &::before {
                    padding: 2px 5px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1181px) {
  header.banner {
    .container {
      .uk-grid {
        #nav-block {
          display: none;
        }
      }
    }

    #offcanv-toggle {
      display: block !important;
    }
  }
}

@media (max-width: 959px) {
  #homefold {
    .gridl {
      > div {
        #left-block {
          margin-bottom: 40px;

          p {
            padding-right: 0 !important;
          }
        }
      }
    }
  }

  #aboutfacility {
    .gridl {
      > div {
        #about-left {
          p {
            padding-right: 0 !important;
            max-width: 100% !important;
          }

          div.blackline {
            margin: 20px auto;
          }
        }
      }
    }
  }

  #treatmentdescription {
    .gridl {
      .uk-grid {
        #treatment-left {
          p {
            max-width: 100% !important;
          }
        }
      }
    }
  }

  #providing {
    .blurbs {
      .uk-grid {
        > div {
          .single {
            text-align: center;
          }
        }
      }
    }
  }

  #foryoufold {
    .gridl {
      .uk-grid {
        #foryoufold-left {
          margin-bottom: 40px;
        }
      }
    }
  }

  #locationfold {
    .gridl {
      .uk-grid {
        #locationfold-left {
          margin-bottom: 40px;

          p {
            max-width: 100% !important;
          }
        }

        #locationfold-right {
          iframe {
            margin: 10px auto;
            display: block;
          }
        }
      }
    }
  }

  #locationbelowfold {
    .gridl {
      .uk-block-small {
        .single-feature {
          text-align: center;
        }
      }
    }
  }

  #stafffold {
    .gridl {
      .uk-grid-small {
        #stafffold-left {
          margin-bottom: 40px;

          p {
            max-width: 100% !important;
          }
        }
      }
    }
  }

  #staff-committed {
    .gridl {
      #staff-blurbs {
        > div {
          text-align: center;
        }
      }
    }
  }
}
